*{margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    align-items: center;
    padding: 10px;
}
header img{
    width: 45px;
}
header ul{
    display: inline;
    list-style: none;
}
header ul li{
    display: inline;
    margin-left: 5px;
    

    

}
header ul li a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 13px;
    
}
.hero{
    background-image: url(../images/header.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    
}
.hero .hero-inner{
    position: absolute;
    top: 50%;
    left: 50%;
    align-items: center;
    justify-content: center;
    color: #ffffff;

    
    
}
.hero .hero-inner h1{
    margin-left: -121px;
  margin-bottom: 12px;
  font-size: 21px;
  
   
}
.hero .hero-inner p{
    margin-left: -98px;
    font-size: 11px;
    font-family: "tomatoe";


}


.sign-up{
    width: 100%;
    background-color: rgb(185 183 183 / 46%);
}
.sign-up h2{
    padding: 5px;
    color: #616265;
    margin: 0 auto;
    text-align: center;

    font-size: 13px;
}
.sign-up p{
    margin-top: 15px;
   color: rgb(124, 117, 117);
    font-size: 12px;
    padding: 15px;
    text-align: center;

}
.sign-up img{
    width: 100%;
    height: auto;
     
}
.sign-up .buttonsign{
    width: 150px;
    height: 50px;
    background-color: chocolate;
    font-size: 20px;
    color: white;
    border-style: none;
    margin-top: 10px;
    /* margin-bottom: 20px; */
    /* margin-left: 56px; */
    display: block;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
    /* margin-bottom: 20px; */
    
    
    
    
}
.comments{
    font-family: sans-serif;
    
    
}
.comments h2 {
    font-size: 18px;
    text-align: center;
    padding: 45px;
    color: #616265;
    background-color: white;
}
.comments  .comment-items{
    font-size: 15px;
    padding-bottom: 20px;
    


    
    
}
.comments .comment-inner .comment-items{
    padding: 10px;
    
}
.comments .comment-inner{
    background-color: #F8F8F8;
    padding: 20px;
    margin-bottom: 20px;
}
.comment-inner .comment-items h4 {
    padding-top: 20px;
    color:393939;
    font: 13px;
    margin-bottom: 30px;
}
.services .about-items{
    text-align: center;
    padding: 30px;
    
    
}
.subscribe{
    text-align: center;
    background-color: #eca052;
    color: white;
    padding: 5%;
    font-size: 13px;
    
}
.subscribe h3{
    font-size: 20px;
}

.subscribe .newsletter{
    display: flex;
    margin: 20px;
}
.subscribe form input{
    background-color:white;
    width: 200px;
    height: 40px;
    color:grey;
    border: orange;
    margin-left: 2px;
    padding-top: 30px;
    margin-top: 27px;
}
.subscribe  form .aa{

    background-color: #575350;
    width: 100px;
    height: 40px;
    color: white;
    border-radius: 20px 20px 20px 20px;
    margin-left: 2px;
    border: orange;
}
.subscribe form .name{
    border-radius: 20px 0px 0px 20px;
    margin-right: 2px;
    padding: 10px;
    width: 100px;
    height: 40px;
}
.subscribe form .email{
    border-radius: 0px 20px 20px 0px;
    margin-left: 2px;
    padding: 10px;
    width: 100px;
    height: 40px;

}.subscribe form input .aa
{
    border-radius: 0px 20px 20px 0px;
    margin-right: 2px;
    padding: 10px;
}
footer{
    /* display: flex; */
    justify-content: center;
    background:#0a0a0a;
    color: #ffffff;
   
    text-align: center;
    



}
footer img{
    width: 40px;
    left: 130px; 
    margin-bottom: 35px;
    text-align: center;
}
footer ul{
    list-style: none;
    display: flex;
    margin-bottom: 10px ;
    margin-left: 22px;


}
footer ul li{
    display: inline;
    margin-top: 20px;
}
footer ul li a{
    color: #919190;
    text-decoration: none;
    margin-left: 4px;
    font-size: 12px;
    margin-bottom: 20px;
}

footer hr{
    width: 100%; ; 
    height: 2px;
    background-color:#383838;
   margin-top: 10px;
   margin-bottom: 10px;
    /* margin: 14px auto; */
}

footer p{
    display: inline;
  
    /* max-width: 320px; */
    margin-bottom: 70px;
    justify-content: center;
    text-align: center;
    font-size: 12px;
    color: #A2A2A0;
}
    
    
    

    
    
    

@media(min-width:568px) {
    .header ul li{
        padding: 10px;
        font-size: 25px;
    }
    .header img{
        width: 50px;
        padding: 5px;
        margin: 5px;
    }
   .hero .hero-inner{
       align-items: center;
       margin: 0 auto;
       justify-content: center;
   }
    
         .hero .hero-inner h1{
          position: relative;
          transform: translate(-50% -50%);
         }
        .hero .hero-inner  p{            
            transform: translate(-50% -50%);
         }

         .sign-up .buttonsign{
            margin-left: 203px
         }
         .sign-up h2{
         margin: 0 auto;
         font-size: 10px;
         }
      
     .sign-up .buttonsign :hover{
         color: yellow;
     }
     .subscribe h3{
         font-size: 20px;
     }
     
     .subscribe .newsletter.form.name{
         border-radius: 20px 0px 20px 0px;
         margin-left: 2px;
     }
     .newsletter.form.email{
         border-radius: 20px 0px 0px 20px ;
         margin-right: 2px;
     }
   
    footer hr{
        width:60px ; 
        height: 2px;
        background-color: #111010;
        margin: 0 auto;
        margin-top: 40px;
        border: black;
        margin-bottom: 40px;
        
        
    }
    footer{
        padding: 5%;
    }
    footer p{
font-size: 15px;
    }
}


@media (min-width: 768px){
.header ul li{
    padding: 10px;
    font-size: 15px;
}

.header img{
    width: 50px;
    padding: 5px;
    margin: 5px;
}
.hero .hero-inner{
  margin-left: -288px;
    font-size: 20px;
}
 .hero .hero-inner h1{
    
     justify-content: center;
     font-size: 30px; 
     margin-left: 87px;
     

 }
 .hero .hero-inner p
 {justify-content: center;
    font-size: 20px; 
    margin-left: 80px;
 }
 .sign-up h2{
     font-size: 30px;
     margin: 0 auto;
     font-weight: bold;
     text-align: center;
 }
 .sign-up p{
     width: 80%;
     margin: 0 auto;
     font-size: 15px;
 }
 .sign-up img{
    width: 400px;
    height: 0 auto;
    margin-left: 172px;
    margin-top: 10px;
    text-align: center;
}
 .sign-up .buttonsign{
      margin-left: 300px; 
     display: block;
 }
 .services{
    display: flex;
    
}
.services .about-items{
    flex-direction: row;
    color: gray;
}
.services .about-items h3{
    color: rgb(94, 85, 85);
}

.services h3{
    font-size: 20px;
}
.services p{
    font-size: 20px;
    font-family: sans-serif;
}

 
 .sign-up .buttonsign :hover{
     color: rgb(245, 28, 180);
 }
 .comments h2{
    font-size: 30px;
    
 }
 .comments .comment-inner{
     display: flex;
     color: gray;
     width: 90%;
     margin: 0 auto;
     margin-bottom: 20px;
 }
 
 .subscribe .newsletter.form.name{
     border-radius: 20px 0px 20px 0px;
     margin-left: 2px;
 }
 .newsletter.form.email{
     border-radius: 20px 0px 0px 20px ;
     margin-right: 2px;
 }
 footer{
    
    justify-content: center;
    background: #393939;
    color: #998a8a;
    text-align: center;

   
}
footer img{
    width: 40px;
    position: relative;
    top: 30px;
    left: -11px; 
    margin-bottom: 35px;
}
footer ul{
    list-style: none;
    margin-left: 130px;
} 

    footer ul li a{
        font-size: 20px;
        margin-left: 10px;
        
}

footer{
    padding: 5%;

}
 footer p{
        display: inline;
        margin: 0 auto;
        margin-bottom: 25px;
        justify-content: center;
    }
}




@media (min-width: 992px){
    .services{
        flex-direction: row;
        columns: 3 auto;
    }
    .services .about-items{
        flex-direction: column;
    }
    .services h3{
        font-size: 20px;
    }
    .services p{
        font-size: 15px;
        font-family: sans-serif;
    }
.header ul li{
padding: 10px;
font-size: 15px;
}

.header img{
width: 50px;
padding: 5px;
margin: 5px;
}
.hero .hero-inner{
margin: -56px;
font-size: 15px;
}
.hero .hero-inner h1{
 
 justify-content: center;
 font-size: 30px; 
 margin: 0 auto;
 font-family: sans-serif;

}
.hero .hero-inner p{
    
    margin: 0 auto;
    justify-content: center;
}

.services{
    display: flex;
}
.services .about-items{
    padding: 20px;
}
.sign-up img{
    width: 50px;
    height: 0 auto;
}

.sign-up .buttonsign :hover{
 color: rgb(245, 28, 180);
}
.subscribe .newsletter.form.name{
 border-radius: 20px 0px 20px 0px;
 margin-left: 2px;
}
.newsletter.form.email{
 border-radius: 20px 0px 0px 20px ;
 margin-right: 2px;
}
footer hr{
    width:320px ; 
    height: 2px;
    background-color: #0c0c0c;
    margin-top: 30px;
    margin-left: -32x; 
    
}
}


@media (min-width :1200px) {
    .hero .hero-inner {
        margin-left: 125px;
        font-family: sans-serif;


    }
    .hero .hero-inner h1{
        transform: translate(-50%,-50%);
        margin: 0 auto;
        margin-left: -280px;
        align-items: center;
        font-size: 30px;
        display: inline;
        margin-bottom: 20px;

    }
    .hero .hero-inner p{
        font-size: medium;
        margin-left: -230px;
        align-items: center;
        font-family: "tomatoe";
        font-weight: bold;
    
    }
    .sign-up {
        background-color: whitesmoke;
        padding-bottom: 20px;
        
    }
    .sign-up img{
        width: 45%;
        padding-top: 25px;
        align-items: center;
        margin: 0 auto;
         margin-left: 350px; 
        align-items: center;
    
        
    }
    .sign-up h2{
        font-size: 28px;
        font-weight: 600;
        color: rgb(90, 82, 82);
        /* margin-left: 40px; */
        align-items: center;
        margin: 0 auto;
        
        
    }
    .sign-up p{
        font-size: 15px;
        color: grey;
        width:50% ;
        /* margin-left: 261px;   */
        align-items: center;  
        margin: 0 auto;    
    }
    .sign-up .buttonsign {
        width: 180px;
        height: 50px;
        background-color: chocolate;
        font-size: 20px;
        color: white;
        border-style: none;
        margin-top: 10px;
        margin-bottom: 20px;
         /* margin-left: 480px; */
         align-items: center;
         margin: 0 auto;
        
    }

    .services {
        display: flex;
        padding: 25px;
        
    }
    .services .about-items h3{
        padding: 20px;
        font-weight: bold;
        color: rgb(92, 87, 87);
    }
.services .about-items p{
    color: gray;
}
.comments h2{
    text-align: center;
    margin: 0 auto;
}

    .comment-inner {
        display: flex;
        color: grey;
    }
    footer img{ 
        width: 50px;
    
        margin-bottom: 40px;
        justify-items: center;
        margin-left: 0px;

    }
    footer ul{
        
        list-style: none;
        
        justify-content: center;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-left: 20px;
    }
    footer ul li a{
        font-size: 20px;
        margin-left: 10px;
        
    }
     footer hr{
        width:100%, ; 
        height: 2px;
        background-color: #111010;
        margin-bottom: 20px;
     }
 footer p{
            display: inline;
            margin: 0 auto;
            margin-bottom: 25px;
            
        }   
        
    }

    
  







